<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xudong.dao.test2.TestDB2Dao" >


    <insert id="saveTest">
       INSERT  INTO Test2Transaction VALUE (#{msg})
    </insert>

</mapper>